@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #F3F3F8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
    height: 100vh;
    padding: 2rem;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8rem 2rem;
  align-items: center;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #397A99;
  cursor: pointer;
  transition: border-color 0.25s;
    width: 100%;
    justify-content: center;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2em;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
  background-color: white;
}

.g0-5 {
  gap: 0.5rem;
}
.g1 {
  gap: 1rem;
}
.fc {
 display: flex;
  flex-direction: column;
}
.fr {
    display: flex;
    flex-direction: row;
}
.ai-c {
    align-items: center;
}
.w100 {
    width: 100%;
}
.h100 {
    height: 100%;
}

.login_form {
  max-width: 447px;
}

.login_form_container {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_form_container img {
    position: absolute;
    width: 8rem;
    height: auto;
    z-index: -5;
    top: 24%;
    left: 51%;
    transform: translate(-50%, -50%);
    scale: -1 1;
}

.call-list {
    justify-content: flex-start;
    max-width: 600px;
}

.call-list ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.call-list ul .item{
    border: 2px solid #E8F2F5;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    display: flex; gap: 1rem;
    position: relative;
    overflow: hidden;
}
.call-list ul .item .time{
    position: absolute;
    right: 0.5rem;
}
.call-list ul .item h3{
    max-width: 60%;
}
.call-list ul .item .description{
    max-width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.call-list ul .item .icon{
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #E8F2F5;
    font-size: 1.4rem;
}

